body {
  /* background: rgb(40,40,40); */
  background-color: white !important;
  height: 100%;
  max-width: 100vw;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100vw;
  max-width: 100vw;
}

/* .App * {
  border: 1px solid blue
} */

.main {
  margin-top: 52px;
  width: 100%;
  max-width: 100vw;
}
