.dashboard-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.dash-items {
}
.dash-desc {
  margin-top: 1rem;
  font-size: 1rem;
}
.LG {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bar {
  width: 100%;
  display: flex;
  justify-content: center;
}
