.create-day-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}