.footer {
  width: 100vw;
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-to-top-arrow {
  cursor: pointer;
  border: none;
}

.copyright {
  font-size: 12px;
  font-weight: 700;
  margin: 15px 0 15px 15px;
}
