.login-container {
  height: 100vh;
  width: 100vw;
  background-color: grey;
}

.login-container > * {
  margin: 0;
  box-sizing: border-box;
}

.login-wave {
  background-color: aqua;
  height: 40vh;
}

.login-form-container {
  background-color: wheat;
  height: 100%;
}
