.tabs-container {
  width: 100vw;
  margin: 0;
  /* box-sizing: content-box; */
}

.tabs {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(100, 100, 100, 0.12);
  align-items: center;
  justify-content: center;
  background-color: rgba(100, 149, 237, 0.35);
  color: rgb(53, 92, 124);
}

.tabs li {
  cursor: pointer;
  padding: 5px;
  /* border: 1px solid #ccc; */
  border-bottom: none;
  flex-grow: 1;
  font-size: smaller;
  box-sizing: border-box;
  max-width: 33.3333333%;
}

.tabs li.active {
  background-color: rgba(100, 100, 100, 0.08);
  font-weight: 600;
  color: rgb(255, 170, 0);
}

.tab-content > div {
  display: none;
  /* padding: 20px; */
  border: 1px solid rgba(100, 100, 100, 0.12);
}

.tab-content > div.active {
  /* display: block; */
  width: 100vw;
}
